@import "./clock.css";
@import "./reset.css";

body {
  background-color: #EBE8B7;
}

#root {
  font-family: 'Cute Font', cursive;
  font-size: 55px;
  color: black;
}

#rendered-root {
  position: relative;
  display: flex;
  justify-content: center;
}