.tabs-container {
  position: absolute;
  left: 458px;
  /* top: 214px; */
  /* margin: 5px 20px 20px 20px; */
}

.tabs-container h1{
  font-size: 60px;
  font-weight: bolder;
}

.tabs-container .tab-title{
  display: flex;
  text-align: center;
}

.tab-title li {
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
width: 77px;
padding: 10px;
border-top: 1px solid;
border-bottom: 1px solid;
border-left: 1px solid;
border-right: 1px solid;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
background: #88D7EB;
background-size: cover;
cursor: pointer;
}

.tab-title li:hover {
  color: white;
  background-color: #64929E;
}

.tab-title > li.forefront {
  font-weight: bolder;
  border-bottom: none;
}

.tabs-notes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  background: #88D7EB;
  width: 255px;
  height: 135px;
}