<form action="<%=users_url%>" method ="POST">

  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]" value="<%= @user.username%>">

  <br>

  <label>Password:
    <input type="password" name="user[password]" value=""> 
    <!--value is what the user sees; value is where the input is returned to-->
  </label>

  <br>

  <input type="submit" value="Create User">
</form>