<ul>
    <%# used to be @user.email but after line 9 from show.html.erb, no need for @ %>
    <li>Email me at: <%= user.email %></li>
    <li>This is just a random li element for my entertainment</li>
</ul>