<h1> ALL OUR CATS!!!!!!!! </h1>

<ul>
<%# cat is from calling within iterating through @cats %>
    <% @cats.each do |cat|%> 
    <li>
        <%= render 'cats_partial', cat: cat, action: :index %>
    </li>

    <%# the non partial template way %>
    <%# <li>
        <%# cat.birth_date %>
        <%# cat.color %>
        <%# cat.name %>
        <%# cat.sex %>
        <%# cat.description %>
    <%# </li> %>
    <%#end%>

</ul>